@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  min-width: 100%;
}

header {
  background: #15083F;
  color: #fff;
  padding: 25px;
  border-bottom: 5px solid #77B094;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 99999;
}

footer {
  background: #15083F;
  color: #fff;
  padding: 25px;
  margin-top: 40px;
  border-top: 5px solid #77B094;
}

img{
  width:100%;
  max-width:600px;
  margin: 10px auto;
}

#blogContent{
  width:100%;
  word-wrap: break-word;
  color: #424242;
  line-height: 1.8;
  font-size: 1em;
  margin-top: 3em;
}

#blogContent img {
  padding: 20px;
}
#blogContent p {
  padding-bottom: 2em;
  text-align: justify;
  text-justify: inter-word;
}
#blogContent a {
  text-decoration: none;
  color: #77B094;
  font-weight: 600;
}

#resources{
  width: 100%;
  padding: 10px;
  margin: 14px;
}
