@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  background: #15083F;
  color: #fff;
  padding: 25px;
  margin-bottom: 40px;
  border-bottom: 5px solid #77B094;
}

footer {
  background: #15083F;
  color: #fff;
  padding: 25px;
  margin-top: 40px;
  border-top: 5px solid #77B094;
}



.logo{
  width: 200px;
}

